<!-- Navegacion-->
<nav class="bg-gradient-to-r from-blue-600 to-purple-700 p-4 flex flex-wrap sm:justify-start sm:flex-nowrap w-full text-sm py-5">
  <nav class="max-w-[80rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between">
    <a class="flex-none font-bold text-xl text-white" href="#" aria-label="TechNova">TechNova</a>
    <div class="flex flex-row items-center gap-10 mt-5 sm:justify-end sm:mt-0 sm:ps-5">
      <a class="font-medium text-white hover:text-gray-400" href="#">Home</a>
      <a class="font-medium text-white hover:text-gray-400" href="#">Competions</a>
      <a class="font-medium text-white hover:text-gray-400" href="#">Past Winners</a>
      <a class="font-medium text-white hover:text-gray-400" href="#">About</a>
    </div>

<!--Botones-->
    <div class="flex gap-4">
      <a routerLink="/login" class="py-3 px-3 inline-flex items-center gap-x-10 text-sm font-sans rounded-lg border border-white text-white hover:bg-white hover:text-[#6A4BE5]">Login
      </a>
      <a routerLink="/register" class="py-3 px-3 inline-flex items-center gap-x-10 text-sm font-sans rounded-lg bg-white text-black hover:text-[#6A4BE5]">Register
      </a>
    </div>
  </nav>
</nav>
<router-outlet></router-outlet>

